{% extends 'polls/base.html' %}
{% block title %}Sylog - BVs{% endblock %}
{% load format_duration %}
{% block content %}

    <style>
        
        .table tbody tr td, .table thead tr th {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .table tbody tr td {
            cursor: pointer;
        }
        .bg-info-agenda {
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            background-color:#bad7db!important
        }
        .table tbody tr td:hover .bg-info-agenda {
            white-space: normal;
            overflow: visible;
            text-overflow: clip;
            max-width: none;
        }
        .table_demarchage {
			border-top: 1px solid #1f3753;
            border-bottom: 0px solid #1f3753;
            border-left: none; 
            border-right: none; 
            margin:20px;
            margin-top:0px;
			border-collapse:collapse;
			padding:5px;
            
		}
		.table_demarchage th {
            border-top: 1px solid #1f3753;
            border-bottom: 0px solid #1f3753;
            border-left: none; 
            border-right: none; 
			padding:5px;
			background: #1f3753;
			color: #f0f0f0;
        }
		.table_demarchage td {
			border-top: 1px solid #1f3753;
            border-bottom: 0px solid #1f3753;
            border-left: none; 
            border-right: none; 
			
			padding:5px;
			background: #ffffff;
			color: #313030;
            
		}
        .attente{
            font-style: italic;
            text-align: center; 
            width: 15%;
        }
        
    </style>


    <!-- Content Row -->
    <div class="row mt-4 mb-4">

        

        
    </div>

    <!-- Content Row -->

    <div style="margin:10px;" class="row">

        <!-- Area Chart -->
        <div class="col-lg-13 mb-3" style="width: 100%;">
            <div class="card shadow">
                <div class="card-header">
                    <h6 style="text-align: center; color: #1f3753; font-size: large;">Bulletins de versements </h6>
                </div>
                <!-- Card Body -->
                
                
                    <table style="margin-top:20px; border-collapse: collapse;" class="table_demarchage">
                        <thead >
                            <tr style="color:white">
                                <th class="text-left" >Modifier le numéro</th>
                                <th class="text-left">Récapitulatif</th>
                                
                                <th class="text-right"></th>
                            </tr>
                        </thead>
                    {% for BV in BVs %}
                        {% if BV.date_emission %}

                        <tbody>
                            
                            <tr >
                                <td>
                                    <span style="cursor:pointer; font-weight: 650;"  data-toggle="modal" data-target="#numeroBV_{{BV.id}}"> {{BV}} </span>
                                    <a style="color: #6d7379; font-weight: 400;" href="{% url 'details' modelName='Etude' iD=BV.etude.id %}">
                                        {{BV.eleve}} - {{BV.etude.ref}} - {{BV.etude}} 
                                    </a>                                                
                                </td>
                                <div class="modal fade" id="numeroBV_{{BV.id}}" tabindex="-1" role="dialog" aria-labelledby="editBVModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <form id="editBVForm_{{BV.id}}" method="POST" action="{% url 'numero_BV' BV.id %}">
                                                {% csrf_token %}
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="numero_bv">Numéro du BV</label>
                                                        <input type="text" class="form-control" id="numero_bv" name="numero_bv" value="{{ BV.numero_bv }}">
                                                    </div>
                                            
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                
                                <td style="text-align: left;"> {{BV.nb_JEH}} {% if BV.nb_JEH == 1 %} JEH {% else %} JEHs {% endif %} - {{BV.retr_brute|FormatNombres}}€ de rétribution </td>
                                <td style="text-align: right;">
                                    <a class="fas fa-download mr-2" target="_blank" href="{% url 'generer_BV' BV.id %}"></a>
                                    <button type="button" class="fas fa-times" data-toggle="modal" data-target="#deleteModalBV_{{BV.id}}"> </button>
                                    
                                </td>
                                <div class="modal fade" id="deleteModalBV_{{BV.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Supprimer le BV</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Êtes-vous sûr de vouloir supprimer ce BV ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                <form id="deleteBVForm" method="POST" action="{% url 'delete_BV' BV.id BV.etude.id %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger">Supprimer</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </tr>
                            
                        </tbody>
                    
                    
                        {% endif %}
                    {% endfor %}
                    </table>
                        
                
                    
            </div>
        </div>  
                                                
    </div>

                    
{% endblock %}