{% extends 'polls/base.html' %}
{% block title %}Sylog - Demarchage{% endblock %}
{% load format_duration %}

{% block content %}
    <style>
        
        .table tbody tr td, .table thead tr th {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .table tbody tr td {
            cursor: pointer;
        }
        .bg-info-agenda {
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            background-color:#bad7db!important
        }
        .table tbody tr td:hover .bg-info-agenda {
            white-space: normal;
            overflow: visible;
            text-overflow: clip;
            max-width: none;
        }
        .table_demarchage {
			border-top: 1px solid #1f3753;
            border-bottom: 0px solid #1f3753;
            border-left: none; 
            border-right: none; 
            margin:20px;
            margin-top:0px;
			border-collapse:collapse;
			padding:5px;
            
		}
		.table_demarchage th {
            border-top: 1px solid #1f3753;
            border-bottom: 0px solid #1f3753;
            border-left: none; 
            border-right: none; 
			padding:5px;
			background: #1f3753;
			color: #f0f0f0;
        }
		.table_demarchage td {
			border-top: 1px solid #1f3753;
            border-bottom: 0px solid #1f3753;
            border-left: none; 
            border-right: none; 
			
			padding:5px;
			background: #ffffff;
			color: #313030;
            
		}
        .attente{
            font-style: italic;
            text-align: center; 
            width: 15%;
        }
        
    </style>

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Alert message -->
            {% if alert_message %}
            <div class="alert alert-info alert-dismissible fade show mt-2" role="alert" id="alert">
                <span>{{ alert_message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}

            <!-- Content Row -->
            <div class="row mt-4 mb-4 justify-content-center">
                <div class="col-9">
                    <div class="card shadow">
                        <div class="card-header"> 
                            <h6 class="card-title">Liste templates</h6>
                            <button class="btn btn-primary float-right" data-toggle="modal" data-target="#mailTemplateModal"><i class="fas fa-plus mr-2"></i>Créer nouveau template</button>
                        </div>
                        <div class="card-body">
                            {% for template in request.user.je.mail_templates.all %}
                                <button class="btn btn-outline-secondary" id="template{{template.id}}" data-toggle="modal" data-target="#mailTVisualizeModal"><i class="fas fa-eye mr-2"></i>{{template}}</button>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                
            </div>

            <!-- Content Row -->

            <div style="margin:10px;" class="row">

                <!-- Area Chart -->
                <div class="col-lg-13 mb-3" style="width: 90%;">
                    <div class="card shadow">
                        <div class="card-header">
                            <h6 style="text-align: center; color: #1f3753; font-size: large;">Retours :</h6>
                        </div>
                        <!-- Card Body -->
                        
                        
    
                            <table style="margin-top:20px;" class="table_demarchage">
                                <tbody>
                                    {% for client in clients %}
                                    {% for repr in client.representants.all %}
                                    {% if repr.demarchage == 'RETOUR_RECU' %}
                                    <tr >
                                        <td style="cursor:pointer; font-weight: 650;" data-toggle="collapse" data-target="#representant_repond{{repr.id}}" >{{repr}}, <span style="color: #6d7379; font-weight: 400;">{{repr.fonction}}</span></td>
                                        <td style="text-align: right; font-weight: bold; color:rgb(72, 92, 139);"  data-href="{% url 'details' modelName='Client' iD=client.id %}">{{client}}</td>
                                        <td class= "attente" attente_duree="{{ repr.attente_duree }}" >{{repr.date_mail}}</td>

                                    </tr>
                                    <tr style= "padding-top: 0px; " class="collapse" id="representant_repond{{repr.id}}">
                                        <td style= "border: 0px; padding-left: 20px; padding-right: 20px;" colspan="{{user.parametres.nombre_colonnes}}">
                                            <table >
                                                <tbody>
                                                <tr>
                                                    <td style= "border: 0px;"><span style="font-weight: bold;">envoyé le {{repr.date_mail}} :</span> Bonjour {{repr.titre}} {{repr.last_name}}, Je me permets de vous contacter au nom de la Junior Entrprise des Ponts. J'ai remarqué que nous avon seffectué une mission pour vous il y a deux ans...</td>
                                                </tr>
                                                <tr>
                                                    <td style= "border: 0px;"><span style="font-weight: bold;">réponse le {{repr.date_reponse}} :</span> Bonjour, Merci pour votre mail, nous travaillons actuellelent sur un projet d'optimisation, seriez vous disponibles pour un rdv...</td>
                                                </tr>
                                                </tbody>
                                                
                                            </table>
                                            <div> </div>
                                            <a class="btn btn-primary float-right" href="{% url 'input' modelName='Etude' iD=0 %}"><i class="fas fa-plus"></i>Créer une étude</a>
                                            <br>
                                            <form method="post" action="{% url 'supprimer_demarchage' id_representant=repr.id %}">
                                                {% csrf_token %}
                                                <input type="text" name="remarque" value="{{ repr.remarque }}">
                                                <button type="submit" class="btn btn-primary">supprimer</button>
                                            </form>
                                            

                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                            {% endfor %}
                                </tbody>
                                
                            </table>
                            
                            
                        
                            
                    </div>
                </div>  
                <div class="col-lg-13 mb-3" style="width: 90%;">
                    <div class="card shadow">
                        <div class="card-header">
                            <h6 style="text-align: center; color: #1f3753; font-size: large;">Deux mois sans réponses :</h6>
                        </div>
                        <!-- Card Body -->
                        
                        
                        

                            
                            <table style="margin-top:20px;" class="table_demarchage">
                                <tbody>
                                {% for client in clients %}
                                {% for repr in client.representants.all %}
                                {% if repr.demarchage == 'A_RELANCER' %}
                                
                                    <tr >
                                        <td style="cursor:pointer; font-weight: 650;" data-toggle="collapse" data-target="#representant_relance{{repr.id}}" >{{repr}}, <span style="color: #6d7379; font-weight: 400;">{{repr.fonction}}</span></td>
                                        <td style="text-align: right; font-weight: bold; color:rgb(72, 92, 139);" data-href="{% url 'details' modelName='Client' iD=client.id %}">{{client}}</td>
                                        <td class= "attente" attente_duree="{{ repr.attente_duree }}" >{{repr.date_mail}}</td>

                                    </tr>
                                    <tr style= "padding-top: 0px; " class="collapse" id="representant_relance{{repr.id}}">
                                        <td style= "border: 0px; padding-left: 20px; padding-right: 20px;" colspan="{{user.parametres.nombre_colonnes}}">
                                            <table >
                                                <tbody>
                                                <tr>
                                                    <td style= "border: 0px;"><span style="font-weight: bold;">Mail envoyé le {{repr.date_mail}} :</span>{{ repr.contenu_mail}}</td>
                                                </tr>
                                                <tr>
                                                    <td style= "border: 0px;" contenteditable="True">{{ repr.contenu_mail}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <a style="padding: 5px;" class="btn btn-primary float-right mail-button" data-destinataire="{{repr.mail}}" data-toggle="modal" data-target="#mailModal"><i class="fas fa-envelope mr-2"></i>relancer</a>
                                            <br>
                                            <form method="post" action="{% url 'supprimer_demarchage' id_representant=repr.id %}">
                                                {% csrf_token %}
                                                <input type="text" name="remarque" value="{{ repr.remarque }}">
                                                <button type="submit" class="btn btn-primary">supprimer</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% endfor %} 
                                {% endfor %}
                                </tbody>
                            </table>
                        
                        
                            
                        
                            
                    </div>
                </div>    
                <div class="col-lg-13 mb-3" style="width: 90%;">
                    <div class="card shadow">
                        <div class="card-header">
                            <h6 style="text-align: center; color: #1f3753; font-size: large;">Mails envoyés récemment :</h6>
                        </div>
                        <!-- Card Body -->
                        
                        
    
                            <table style="margin-top:20px;" class="table_demarchage">
                                <tbody>
                                    {% for client in clients %}
                                    {% for repr in client.representants.all %}
                                    {% if repr.demarchage == 'ATTENTE_REPONSE' %}
                                    <tr >
                                        <td style="cursor:pointer; font-weight: 650;" data-toggle="collapse" data-target="#representant_att{{repr.id}}" >{{repr}}, <span style="color: #6d7379; font-weight: 400;">{{repr.fonction}}</span></td>
                                        <td style="text-align: right; font-weight: bold; color:rgb(72, 92, 139);" data-href="{% url 'details' modelName='Client' iD=client.id %}">{{client}}</td>
                                        <td class= "attente" attente_duree="{{ repr.attente_duree }}" >{{repr.date_mail}}</td>

                                    </tr>
                                    <tr style = "padding-top: 0px;" class="collapse" id="representant_att{{repr.id}}">
                                        <td style= "border: 0px; padding-left: 20px; padding-right: 20px;" colspan="{{user.parametres.nombre_colonnes}}">
                                            <table >
                                                <tbody>
                                                <tr>
                                                    <td style= "border: 0px;"><span style="font-weight: bold;">Mail envoyé le {{repr.date_mail}} :</span> Bonjour {{repr.titre}} {{repr.last_name}}, Je me permets de vous contacter au nom de la Junior Entrprise des Ponts. J'ai remarqué que nous avon seffectué une mission pour vous il y a deux ans...</td>
                                                </tr>
                                                </tbody>
                                                
                                            </table>
                                            <br>
                                            <form method="post" action="{% url 'supprimer_demarchage' id_representant=repr.id %}">
                                                {% csrf_token %}
                                                <input type="text" name="remarque" value="{{ repr.remarque }}">
                                                <button type="submit" class="btn btn-primary">supprimer</button>
                                            </form>

                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                                </tbody>
                                
                            </table>
                            
                            
                        
                            
                    </div>
                </div>  
                <div class="col-lg-13 mb-3" style="width: 90%;">
                    <div class="card shadow">
                        <div class="card-header">
                            <h6 style="text-align: center; color: #1f3753; font-size: large;">Pas encore démarché :</h6>
                        </div>
                        <!-- Card Body -->
                        
                        
                        

                        {% for secteur in secteurs %}
                        <h6 style="padding-left: 30px; padding-bottom: 0px;padding-top: 30px; color: #7a99bb; font-size: large; ">{{ secteur }}</h6>
                            <table class="table_demarchage">
                                <tbody>
                                {% for client in clients %}
                                {% if client.secteur == secteur %}
                                
                                {% for repr in client.representants.all %}
                                {% if repr.demarchage == 'A_CONTACTER' %}
                                
                                    <tr >
                                        <td style="cursor:pointer; font-weight: 650;" data-toggle="collapse" data-target="#representant_pas_dem{{repr.id}}" >{{repr}}, <span style="color: #6d7379; font-weight: 400;">{{repr.fonction}}</span></td>
                                        <td style="text-align: right; font-weight: bold; color:rgb(72, 92, 139);" data-href="{% url 'details' modelName='Client' iD=client.id %}">{{client}}</td>
                                        <td style="font-style:italic; text-align:  center; width: 15%;">{{repr.date_mail}}</td>

                                    </tr>
                                    <tr style= "padding-top: 0px; " class="collapse" id="representant_pas_dem{{repr.id}}">
                                        <td style= "border: 0px; padding-left: 20px; padding-right: 20px;" colspan="{{user.parametres.nombre_colonnes}}">
                                            <table>
                                                <tbody>
                                                <tr>
                                                    <td style= "border: 0px;" contenteditable="True">{{ repr.contenu_mail}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <a style="padding: 5px;" class="btn btn-primary float-right mail-button" data-destinataire="{{repr.mail}}" data-toggle="modal" data-target="#mailModal"><i class="fas fa-envelope mr-2"></i>Envoyer</a>
                                            <br>
                                            <div style="font-weight: 300;">{{ repr.remarque }}</div>
                                        </td>
                                    </tr>
                                    <!-- Visualisation mail -->
    <div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="modalLabelMail" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabelMail">Envoi mail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'send_mail_demarchage' iD=repr.id %}" method="post">
                    <div class="modal-body p-4">
                        <div class="row">
                            {% if request.user.je.mail_templates.exists %}
                                {% for template in request.user.je.mail_templates.all %}
                                    <button type="button" class="btn btn-outline-primary choosetpl" data-id="{{template.id}}">{{ template }}</button>
                                {% endfor %}
                            {% else %}
                            <p>Aucun template</p>
                            {% endif %}
                        </div>
                        <hr>
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Destinataire</span>
                                </div>
                                <input type="text" id="destinataire" class="form-control" readonly name="destinataire" value="titoduc1905@gmail.com">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Objet</span>
                                </div>
                                <input type="text" class="form-control" name="subject" value="Mission">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <textarea type="text" class="form-control" id="msgmail" name="message" rows="7"></textarea>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <strong>Signature</strong>
                                <input type="text" class="form-control" name="name" style="font-style: bold;" value="{{ request.user }}">
                                <textarea type="text" class="form-control" name="signature" style="font-style: italic;">{{ request.user.signature_mail }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary" {% if not connecté %} disabled {% endif %}>Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Fin formulaire envoi mail -->
                                {% endif %}
                                {% endfor %} 
                                {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endfor %}
                        
                            
                        
                            
                    </div>
                </div>                                                
            </div>
            <!--End Row-->

            
            
        </div>
        <!-- /.container-fluid -->


    

    <!-- Ajout template mail -->
    <div class="modal fade" id="mailTemplateModal" tabindex="-1" role="dialog" aria-labelledby="modalLabelTMail" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabelTMail">Envoi mail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'create_mail_template' %}" method="post">
                    <div class="modal-body p-4">
                        <dl class="dl-horizontal">
                            {% csrf_token %}
    
                            {% for field in mail_template_form %}
                            <div class="form-group row mb-3">
                            <label for="{{ field.id_for_label }}" class="col-sm-4 col-form-label">{{ field.label }}</label>
                                <div class="col-sm-8 justify-content-center">
                                    {{ field }}
                                {% if field.errors %}
                                    <div class="text-danger">
                                        {% for error in field.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                </div>
                            </div>
                            {% endfor %}                             
                        </dl>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Créer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Fin ajout template mail -->
    <!-- Visualisation mail -->
    <div class="modal fade" id="mailTVisualizeModal" tabindex="-1" role="dialog" aria-labelledby="modalLabelTVMail" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabelTVMail">Template mail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-4" id="mailTVisualizeModalText"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" id="delete-tpl-btn" data-toggle="modal" data-target="#deleteTplModal" class="btn btn-danger">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin visualisation mail -->
        

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            var mailButtons = Array.from(document.getElementsByClassName('mail-button'));
            var destinataireInput = document.getElementById('destinataire');
            mailButtons.forEach(function(button){
                button.addEventListener("click", (event) => {
                    destinataireInput.value = button.dataset.destinataire;
                });
            });
    
        });
    </script>
    <script type="text/javascript">
        var templateIds = {{mail_template_ids|safe}};
        var templateContents = {{mail_template_contents|safe}};
        document.addEventListener("DOMContentLoaded", () => {
            var tVisualizeModalText =  document.getElementById('mailTVisualizeModalText');
            var deleteTplBtn = document.getElementById('delete-tpl-btn');
            templateIds.forEach((item, index) => {
                var templateButton = document.getElementById('template'+item.toString());
                templateButton.addEventListener("click", (event) => {
                    tVisualizeModalText.innerHTML = templateContents[index].replace(/\n/g, '<br>');
                    deleteTplBtn.dataset.id = item.toString();
                });
            });

            var tplButtons = Array.from(document.getElementsByClassName('choosetpl'));
            var msgPrincipal = document.getElementById('msgmail');
            tplButtons.forEach(function(button){
                button.addEventListener("click", (event) => {
                    var indexTpl = templateIds.indexOf(parseInt(button.dataset.id, 10));
                    if(indexTpl !== -1){
                        msgPrincipal.textContent = templateContents[indexTpl];
                    }
                    else{
                        // Must handle error here
                    }
                });
            });

            var idForDelete = document.getElementById('delete-id');
            deleteTplBtn.addEventListener("click", (event) => {
                idForDelete.value = parseInt(deleteTplBtn.dataset.id, 10);
            });
        });

    </script>

{% endblock %}