<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sylog - Factures</title>

    {% load static %}
    {% load format_duration %}
    
    <!-- Script pour l'affichage dynamique du C-A -->
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0"></script>
    <script src="{% static 'polls/js/chart-area.js' %}"></script>

    <!-- Custom fonts for this template-->
    <link href="{% static 'polls/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'polls/css/sb-admin-2.min.css' %}" rel="stylesheet">

    <style>
        /* Style for JE logo */
        .my-custom-logo {
            max-width: 80%;
            aspect-ratio: 10/8;
            justify-content: center;
            align-self: center;
            padding: 1rem;
        }
        /* Style for the suggestion results */
        #suggestions-results {
            position: absolute;
            top: 50px; /* Adjust as needed */
            left: 0;
            right: 0;
            z-index: 999;
            display: none;
        }
        #suggestions-results.show {
            display: block;
        }
        
        .table tbody tr td, .table thead tr th {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .table tbody tr td {
            cursor: pointer;
        }
        .bg-info-agenda {
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            background-color:#bad7db!important
        }
        .table tbody tr td:hover .bg-info-agenda {
            white-space: normal;
            overflow: visible;
            text-overflow: clip;
            max-width: none;
        }
        .table_demarchage {
			border-top: 1px solid #1f3753;
            border-bottom: 0px solid #1f3753;
            border-left: none; 
            border-right: none; 
            margin:20px;
            margin-top:0px;
			border-collapse:collapse;
			padding:5px;
            
		}
		.table_demarchage th {
            border-top: 1px solid #1f3753;
            border-bottom: 0px solid #1f3753;
            border-left: none; 
            border-right: none; 
			padding:5px;
			background: #1f3753;
			color: #f0f0f0;
        }
		.table_demarchage td {
			border-top: 1px solid #1f3753;
            border-bottom: 0px solid #1f3753;
            border-left: none; 
            border-right: none; 
			
			padding:5px;
			background: #ffffff;
			color: #313030;
            
		}
        .attente{
            font-style: italic;
            text-align: center; 
            width: 15%;
        }
        
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <img class="my-custom-logo" src="{{ request.user.je.logo.url }}">
            

            <!-- Divider -->
            <hr class="sidebar-divider my-md-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">
                    <i class="fas fa-fw fa-house-user black-text"></i>
                    <span>ACCUEIL</span></a>
            </li>
            
            <hr class="sidebar-divider">
            

            <!-- Heading -->
            <div class="sidebar-heading">
                Informations
            </div>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'annuaire' %}">
                    <i class="fas fa-book-open" ></i>
                    <span>Annuaire</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'stat_KPI' %}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Stat/KPI</span></a>
            </li>

            
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagetresorerie"
                    aria-expanded="true" aria-controls="pagetresorerie">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Trésorerie</span>
                </a>
                <div id="pagetresorerie" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'factures' %}">Factures</a>
                        <a class="collapse-item" href="{% url 'BVs' %}">BVs</a>
                        <a class="collapse-item" href="#">DAS2</a>
                        
                        
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'je_detail' %}">
                    <i class="fas fa-fw fa-cog" ></i>
                    <span>Ma Junior Entreprise</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'demarchage' %}">
                    <i class="fas fa-fw fa-cog" ></i>
                    <span>Démarchage</span></a>
            </li>
            

            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pageconnexion"
                    aria-expanded="true" aria-controls="pageconnexion">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Connexion</span>
                </a>
                <div id="pageconnexion" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'custom_login' %}">Se connecter</a>
                        <a class="collapse-item" href="{% url 'register' %}">Inscriptions</a>
                        <a class="collapse-item" href="#">Mot de passe oublié</a>
                        
                        
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pageautres"
                    aria-expanded="true" aria-controls="pageautres">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Autres</span>
                </a>
                <div id="pageautres" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'messages' %}" >Messagerie</a>
                        
                        <a class="collapse-item" >Notifications</a>    
                    </div>
                </div>
            </li>
            <!-- Heading -->
            

                        

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-0 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form action="{% url 'search' %}"
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Rechercher..."
                                aria-label="Search" aria-describedby="basic-addon2" id="search-input" name="search-input">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                            <div class="list-group" id="suggestions-results"></div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Rechercher..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">{{notification_count}}</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alertes
                                </h6>
                                {% if notification_list.0 %}
                                <a class="dropdown-item d-flex align-items-center" {% if notification_list.0.href_redirect %}href="{{notification_list.0.href_redirect}}"{% else %}href="#"{% endif %}>
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">{{notification_list.0.date_effet}}</div>
                                        <span class="font-weight-bold">{{notification_list.0}}</span>
                                    </div>
                                </a>
                                {% endif %}
                                {% if notification_list.1 %}
                                <a class="dropdown-item d-flex align-items-center" {% if notification_list.1.href_redirect %}href="{{notification_list.1.href_redirect}}"{% else %}href="#"{% endif %}>
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">{{notification_list.1.date_effet}}</div>
                                        <span class="font-weight-bold">{{notification_list.1}}</span>
                                    </div>
                                </a>
                                {% endif %}
                                {% if notification_list.2 %}
                                <a class="dropdown-item d-flex align-items-center" {% if notification_list.2.href_redirect %}href="{{notification_list.2.href_redirect}}"{% else %}href="#"{% endif %}>
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">{{notification_list.2.date_effet}}</div>
                                        <span class="font-weight-bold">{{notification_list.2}}</span>
                                    </div>
                                </a>
                                {% endif %}
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">{{message_count}}</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Messagerie
                                </h6>
                                {% if liste_messages.0 %}
                                <a class="dropdown-item d-flex align-items-center" href="{% url 'details' modelName='Message' iD=liste_messages.0.id %}">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="{{ liste_messages.0.expediteur.photo.url }}"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">{{liste_messages.0}}</div>
                                        <div class="small text-gray-500">{{liste_messages.0.expediteur}} · {{liste_messages.0.since|format_duration}}</div>
                                    </div>
                                </a>
                                {% else %}
                                <a class="dropdown-item d-flex align-items-center" href="#">No message</a>
                                {% endif %}

                                {% if liste_messages.1 %}
                                <a class="dropdown-item d-flex align-items-center" href="{% url 'details' modelName='Message' iD=liste_messages.1.id %}">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="{{ liste_messages.1.expediteur.photo.url }}"
                                            alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">{{liste_messages.1}}</div>
                                        <div class="small text-gray-500">{{liste_messages.1.expediteur}} · {{liste_messages.1.since|format_duration}}</div>
                                    </div>
                                </a>
                                {% endif %}

                                {% if liste_messages.2 %}
                                <a class="dropdown-item d-flex align-items-center" href="{% url 'details' modelName='Message' iD=liste_messages.2.id %}">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="{{ liste_messages.2.expediteur.photo.url }}"
                                            alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">{{liste_messages.2}}</div>
                                        <div class="small text-gray-500">{{liste_messages.2.expediteur}} · {{liste_messages.2.since|format_duration}}</div>
                                    </div>
                                </a>
                                {% endif %}

                                {% if liste_messages.3 %}
                                <a class="dropdown-item d-flex align-items-center" href="{% url 'details' modelName='Message' iD=liste_messages.3.id %}">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="{{ liste_messages.3.expediteur.photo.url }}"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">{{liste_messages.3}}</div>
                                        <div class="small text-gray-500">{{liste_messages.3.expediteur}} · {{liste_messages.3.since|format_duration}}</div>
                                    </div>
                                </a>
                                {% endif %}
                                <a class="dropdown-item text-center small text-gray-500" href="{% url 'messages' %}">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ request.user }}</span>
                                <img class="img-profile rounded-circle"
                                    src="{{ request.user.photo.url }}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{% url 'details' modelName='Student' iD=request.user.student.id %}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="{% url 'settings' %}">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'custom_logout' %}" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div> -->

                    <!-- Content Row -->
                    <div class="row mt-4 mb-4">

                        

                        
                    </div>

                    <!-- Content Row -->

                    <div style="margin:10px;" class="row">

                        <!-- Area Chart -->
                        <div class="col-lg-13 mb-3" style="width: 90%;">
                            <div class="card shadow">
                                <div class="card-header">
                                    <h6 style="text-align: center; color: #1f3753; font-size: large;">Factures </h6>
                                </div>
                                <!-- Card Body -->
                                
                                {% for facture in factures %}
                                    {% if facture.date_emission %}
            
                                    <table style="margin-top:20px;" class="table_demarchage">
                                        
                                        <tbody>
                                            
                                            <tr >
                                                <td>
                                                    <span style="cursor:pointer; font-weight: 650;"  data-toggle="modal" data-target="#numeroFacture_{{facture.id}}"> {{facture}} </span>
                                                    <a style="color: #6d7379; font-weight: 400;" href="{% url 'details' modelName='Etude' iD=facture.etude.id %}">
                                                        {{facture.etude.ref}} - {{facture.etude}}
                                                    </a>                                                
                                                </td>
                                                <div class="modal fade" id="numeroFacture_{{facture.id}}" tabindex="-1" role="dialog" aria-labelledby="editFactureModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <form id="editFactureForm_{{facture.id}}" method="POST" action="{% url 'numero_facture' facture.id %}">
                                                                {% csrf_token %}
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="editFactureModalLabel_{{facture.id}}">Modifier le numéro de la facture</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="form-group">
                                                                        <label for="numero_fac">Numéro de facture</label>
                                                                        <input type="text" class="form-control" id="numero_fac" name="numero_fac" value="{{ facture.numero_facture }}">
                                                                    </div>
                                                            
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                 </div>
                                                <td style="text-align: right; font-weight: bold; color:rgb(72, 92, 139);"  >{{facture.type_facture}}</td>
                                                <td class= "attente" attente_duree="{{ repr.attente_duree }}" >{{facture.montant_HT|FormatNombres}} EUR.</td>
                                                
                                                <td style="text-align: right;">
                                                    <a class="fas fa-download mr-2" target="_blank" href="{% url 'facture' facture.id %}"></a>
                                                    <button type="button" class="fas fa-times" data-toggle="modal" data-target="#deleteModalFacture">
                                                        
                                                    </button>
                                                
                                                </td>
                                                
                                                <div class="modal fade" id="deleteModalFacture" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="deleteModalLabel">Supprimer la facture</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Êtes-vous sûr de vouloir supprimer cette facture ?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                                <form id="deleteFactureForm" method="POST" action="{% url 'delete_facture' facture.id facture.etude.id %}">
                                                                    {% csrf_token %}
                                                                    <button type="submit" class="btn btn-danger">Supprimer</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </tr>
                                            
                                        </tbody>
                                    
                                    

                                    </table>
                                    {% endif %}
                                {% endfor %}   
                                
                                    
                            </div>
                        </div>  
                                                                
                    </div>
                    <!--End Row-->

                    
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Ponts Etude Projets 2024</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'custom_logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'polls/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'polls/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'polls/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'polls/js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'polls/vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    
    <!-- 2 scripts spécifiques aux suggestions de recherche -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        var url_suggestions = '{% url "search_suggestions" %}';
        let str = "{% url 'details' modelName='Etude' iD=0 %}";
        var href_etude = str.substring(0, str.length - 1);
        str = "{% url 'details' modelName='Client' iD=0 %}";
        var href_client = str.substring(0, str.length - 1);
        str = "{% url 'details' modelName='Student' iD=0 %}";
        var href_student = str.substring(0, str.length - 1);
    </script>
    <script src="{% static 'polls/js/search-suggestions.js' %}"></script>

</body>

</html>