{% extends 'polls/base.html' %}
{% block title %}Sylog - Factures{% endblock %}
{% load format_duration %}

{% block content %}

    <style>
        
        .table tbody tr td, .table thead tr th {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .table tbody tr td {
            cursor: pointer;
        }
        .bg-info-agenda {
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            background-color:#bad7db!important
        }
        .table tbody tr td:hover .bg-info-agenda {
            white-space: normal;
            overflow: visible;
            text-overflow: clip;
            max-width: none;
        }
        .table_demarchage {
			border-top: 1px solid #1f3753;
            border-bottom: 0px solid #1f3753;
            border-left: none; 
            border-right: none; 
            margin:20px;
            margin-top:0px;
			border-collapse:collapse;
			padding:5px;
            
		}
		.table_demarchage th {
            border-top: 1px solid #1f3753;
            border-bottom: 0px solid #1f3753;
            border-left: none; 
            border-right: none; 
			padding:5px;
			background: #1f3753;
			color: #f0f0f0;
        }
		.table_demarchage td {
			border-top: 1px solid #1f3753;
            border-bottom: 0px solid #1f3753;
            border-left: none; 
            border-right: none; 
			
			padding:5px;
			background: #ffffff;
			color: #313030;
            
		}
        .attente{
            font-style: italic;
            text-align: center; 
            width: 15%;
        }
        
    </style>


    <!-- Begin Page Content -->
    <div class="card-header" style="padding-top: 20; padding-bottom: 0;">

        <!-- Page Heading
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        </div> -->

        <!-- Content Row -->
        <div class="row mt-4 mb-4">

            

            
        </div>

        <!-- Content Row -->

        <div style="margin:10px;" class="row">

            <!-- Area Chart -->
            <div class="col-lg-13 mb-3" style="width: 100%;">
                <div class="card shadow">
                    <div class="card-header">
                        <h6 style="text-align: center; color: #1f3753; font-size: large;">Factures </h6>
                    </div>
                    <!-- Card Body -->
                    
                    

                        <table style="margin-top:20px;" class="table_demarchage">
                            <thead >
                                <tr style="color:white">
                                    <th class="text-left" >Modifier le numéro</th>
                                    <th class="text-left">Client</th>
                                    <th class="text-left">Type de facture</th>
                                    <th class="text-left">Montant H.T.</th>
                                    <th class="text-right"></th>
                                </tr>
                            </thead>
                        {% for facture in factures %}
                            {% if facture.date_emission %}
                            <tbody>
                                
                                <tr >
                                    <td>
                                        <span style="cursor:pointer; font-weight: 650;"  data-toggle="modal" data-target="#numeroFacture_{{facture.id}}"> {{facture}} </span>
                                        <a style="color: #6d7379; font-weight: 400;" href="{% url 'details' modelName='Etude' iD=facture.etude.id %}">
                                            {{facture.etude.ref}} - {{facture.etude}}
                                        </a>                                                
                                    </td>
                                    <div class="modal fade" id="numeroFacture_{{facture.id}}" tabindex="-1" role="dialog" aria-labelledby="editFactureModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <form id="editFactureForm_{{facture.id}}" method="POST" action="{% url 'numero_facture' facture.id %}">
                                                    {% csrf_token %}
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label for="numero_fac">Numéro de la facture</label>
                                                            <input type="number" class="form-control" id="numero_fac" name="numero_fac" value="{{ facture.numero_facture }}" required>
                                                            <br>
                                                            <label for="objet_fac">Objet de la facture</label>
                                                            <textarea class="form-control" id="objet_fac" name="objet_fac" required rows="3">{{ facture.objet }}</textarea>
                                                        
                                                        </div>
                                                
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <td style="text-align: left;" > {% if facture.etude.client %} <span href="{% url 'details' modelName='Client' iD=facture.etude.client.id %}"> {{facture.etude.client}} </span>{% endif %}</td>
                                    <td style="text-align: left; font-weight: bold; color:rgb(72, 92, 139);"  >{{facture.type_facture}}</td>
                                    <td style="text-align: left;" >{{facture.montant_HT|FormatNombres}} EUR.</td>
                                    
                                    <td style="text-align: right;">
                                        <a class="fas fa-download mr-2" target="_blank" href="{% url 'facture' facture.id %}"></a>
                                        <button type="button" class="fas fa-times" data-toggle="modal" data-target="#deleteModalFacture">
                                            
                                        </button>
                                    
                                    </td>
                                    
                                    <div class="modal fade" id="deleteModalFacture" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel">Supprimer la facture</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Êtes-vous sûr de vouloir supprimer cette facture ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                    <form id="deleteFactureForm" method="POST" action="{% url 'delete_facture' facture.id facture.etude.id %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-danger">Supprimer</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                
                            </tbody>
                        
                        
                            {% endif %}
                        {% endfor %}  
                        </table>
                            
                    
                        
                </div>
            </div>  
                                                    
        </div>
        <!--End Row-->

        
        
    </div>
    <!-- End of Main Content -->

{% endblock %}