<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BIBI JR</title>

    {% load static %}
    {% load format_duration %}
    <!-- Custom fonts for this template-->
    <link href="{% static 'polls/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'polls/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <style>
        .header {
            background-color: #fff; /* White background */
            padding: 20px;
            border-bottom: 1px solid #ddd; /* Add border to bottom */
        }
        .my-logo {
            max-height: 80px; /* Adjust logo height as needed */
            margin-right: 10px; /* Add space between logo and company name */
        }
    </style>
</head>

<body>
    <!-- Header -->
    <div class="header">
        <div class="container">
            <div class="row align-items-center">
              <div class="col-md-3">
                <img src="{{etude.je.logo.url}}" alt="Company Logo" class="my-logo">
              </div>
              <div class="col-md-9 justify-content-center">
                <h1 class="h4 mb-0">{{etude.titre}}</h1>
              </div>
            </div>
          </div>
    </div>

    <!-- Main Content -->
    <div class="container mt-4">
        <div class="row">
            <!-- Text Description -->
            <div class="col-md-6">
                <div class="row justify-content-center align-items-center">
                        <i class="fas fa-file fa-lg mr-4"></i>
                        <h2 class="m-0">Description de la mission</h2>                  
                </div>
                <br>
                <div class="row">
                    <div class="container p-2">
                        <p>{{ etude.description }}</p>
                    </div>
                </div>
            </div>
            
            <!-- Django Form -->
            <div class="col-md-6 pb-4">
                <h2>Formulaire de candidature</h2>
                <form action="{% url 'recrutement' id_url=etude.id_url %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-danger">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </form>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'polls/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'polls/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'polls/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'polls/js/sb-admin-2.min.js' %}"></script>
</body>