{% extends 'polls/base.html' %}
{% block title %}Sylog - KPI{% endblock %}
{% load format_duration %}
{% load static %}

{% block content %}

    <style>
        
        .table tbody tr td, .table thead tr th {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .table tbody tr td {
            cursor: pointer;
        }
        .bg-info-agenda {
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            background-color:#bad7db!important
        }
        .table tbody tr td:hover .bg-info-agenda {
            white-space: normal;
            overflow: visible;
            text-overflow: clip;
            max-width: none;
        }
        .violet_sncf {
            color:rgb(110,30,120);
        }

        .canard_sncf {
            color: rgb(0, 154, 166),
        }
        
    </style>

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        </div> -->

        <!-- Content Row -->
        <div class="row mt-4 mb-4">

            <!-- Earnings  Card  -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs text-success text-uppercase mb-1">
                                    Chiffre d'Affaire 026 signé <span class=" text-gray-800"  style="font-weight: 1000;">{{ca_026|FormatNombres}} €</span></div>
                                <div class="text-xs text-success text-uppercase mb-1">
                                    Chiffre d'Affaire 026 avec cut-off <span class=" text-gray-800"  style="font-weight: 1000;">{{ca_026_cutoff|FormatNombres}} €</span></div>
                                <div class="text-xs text-success text-uppercase mb-1">
                                    Chiffre d'Affaire 026 potentiel <span class=" text-gray-800"  style="font-weight: 1000;">{{ca_potentiel|FormatNombres}} €</span></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            

            <!-- Card Nombre Eleve -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs text-primary text-uppercase mb-1">
                                    <span style="font-weight: 1000; color: black;">{{ nb_etudes_ec.0 }} </span>études signées en cours 
                                    <span style="font-weight: 1000; color: black;">{{ nb_etudes_ec.1 }} € </span></div>
                                <div class="text-xs  text-primary text-uppercase mb-1">
                                    <span style="font-weight: 1000; color: black;">{{ nb_etude_ed.0 }} </span>études en discussion 
                                    <span style="font-weight: 1000; color: black;">{{ nb_etude_ed.1 }} € </span></div>
                                <div class="text-xs  text-primary text-uppercase mb-1">
                                    <span style="font-weight: 1000; color: black;">{{ nb_etudes_term_026.0 }} </span>études terminées 026
                                    <span style="font-weight: 1000; color: black;">{{ nb_etudes_term_026.1 }} € </span></div>
                                        
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>


            <!-- Card Client Count -->
            <div class="col-xl-3 col-md-6 mb-4" >
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body" style ="padding: 10px;padding-top: 4px;">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div style = "text-align: center;font-size: 12px;"> signées 026</div>
                                <div class="text-xs  text-info text-uppercase mb-1">
                                    Taux d'ouverture : <span style="font-weight: 1000; color: black;">{{taux_ouverture|FormatNombres}} % </span>
                                    </div>
                                    
                                <div class="text-xs text-info text-uppercase mb-1">
                                    Rétributions : <span style="font-weight: 1000; color: black;">{{retributions_totales|FormatNombres}} €</span>
                                </div>
                                <div class="text-xs text-info text-uppercase mb-1">
                                    Rétribution moyenne par étude : <span style="font-weight: 1000; color: black;">{{retribution_moyenne_etude|FormatNombres}} €</span>
                                </div>
                                <div class="text-xs text-info text-uppercase mb-1">
                                    Rétribution moyenne par étudiant : <span style="font-weight: 1000; color: black;">{{retribution_moyenne_etudiant|FormatNombres}} €</span>
                                </div>
                                    
                                
                                    
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                
                                <div class="text-xs text-warning text-uppercase mb-1" style="font-weight: 600;">
                                    <span style="font-weight: 1000; color: black;">{{nb_intervenants}} </span>intervenants 026 </div>
                                <div class="text-xs text-warning text-uppercase mb-1" style="font-weight: 600;">
                                    <span style="font-weight: 1000; color: black;">{{nb_intervenants_diffs}} </span>intervenants 026 différents </div>
                                <div class="text-xs text-warning text-uppercase mb-1" style="font-weight: 600;">
                                    <span style="font-weight: 1000; color: black;">{{moyenne_inter_mission|FormatNombres}} </span>intervenants par études </div>

                                    
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Content Row -->

        <!-- obsolète  
        <div class="row">

            
            
            <div class="col-xl-12 col-lg-7">
                <div class="card shadow mb-4">
                   
                    
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
                        <h6 class="m-0 font-weight-bold text-primary">Le chiffre d'affaires par mois</h6>
                    </div>
                    <div class="chart-area">
                        <canvas  id="BarChartCAmois"></canvas >
                    </div>
                
                </div>     
            
            </div>                                                
            
        </div>
        

        <script>
            var dico_CA_mois = {{ dico_CA_mois|safe }};
        </script>
        -->



        <h6 class="m-0 font-weight-bold text-primary" style="text-align: center;">Chiffre d'affaires (date de début de la mission)</h6>
        <div style="width: 100%; height: 300px; margin: auto; padding-bottom: 20px;">
            <canvas id="CA_par_mois"></canvas>
        </div>
        <script>
            var liste_mois = {{ liste_mois|safe }};
            var liste_CA_mois = {{ liste_CA_mois|safe }};
        </script>
    
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var ctx = document.getElementById("CA_par_mois").getContext("2d");
        
                var CA_par_mois = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: liste_mois,
                        datasets: [{
                            label: "CA (HT)",
                            data: liste_CA_mois,
                            borderColor: "rgba(60, 55, 50, 0.2)",
                            backgroundColor: "rgba(60, 55, 50, 0.2)",
                            borderWidth: 2,
                            pointRadius: 5,
                            pointBackgroundColor: "black"
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
        </script>

        
       
       

        


        <div class="row">
            

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
                        <h6 class="m-0 font-weight-bold text-primary">Devis envoyés / Missions signées</h6>
                    </div>
                    <div style="width: 100%; height: 300px; margin: auto;">
                        <canvas id="Devis_envo_sign"></canvas>
                    </div>
                </div>
            </div>                                                
            
        </div>


        <script>
            var liste_mois_devis = {{ liste_mois_devis|safe }};
            var liste_devis_envo = {{ liste_devis_envo|safe }};
            var liste_devis_sign = {{ liste_devis_sign|safe }};  // Second dataset
        </script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var ctx = document.getElementById("Devis_envo_sign").getContext("2d");

                var Devis_envo_sign = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: liste_mois_devis,
                        datasets: [
                            {
                                label: "Devis envoyés",
                                data: liste_devis_envo,
                                borderColor: "rgba(0, 154, 166, 1)",
                                backgroundColor: "rgba(60, 55, 50, 0)",
                                borderWidth: 2,
                                pointRadius: 5,
                                pointBackgroundColor: "rgba(0, 154, 166, 1)"
                            },
                            {
                                label: "Missions signées",
                                data: liste_devis_sign,
                                borderColor: "rgba(0, 136, 206, 1)",
                                backgroundColor: "rgba(60, 55, 50, 0)",
                                borderWidth: 2,
                                pointRadius: 5,
                                pointBackgroundColor: "rgba(0, 136, 206, 1)"
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            y: {
                                beginAtZero: true,
                                ticks: {
                                    stepSize: 1  
                                }
                            }
                        }
                    }
                });
            });
        </script>

        <div class="row">
                    

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
                        <h6 class="m-0 font-weight-bold text-primary">Avenants à la CE par mois</h6>
                    </div>
                    <div style="width: 100%; height: 300px; margin: auto;">
                        <canvas id="Avenants_CE_mois"></canvas>
                    </div>
                </div>
            </div>                                                
            
        </div>


        <script>
            var liste_date_avenants = {{ liste_date_avenants|safe }};
            var liste_nb_avenants = {{ liste_nb_avenants|safe }};
            var liste_nb_avenants_del = {{ liste_nb_avenants_del|safe }};
            var liste_nb_avenants_bud = {{ liste_nb_avenants_bud|safe }};
        </script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var ctx = document.getElementById("Avenants_CE_mois").getContext("2d");

                var Avenants_CE_mois = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: liste_date_avenants,
                        datasets: [
                            {
                                label: "Avenants",
                                data: liste_nb_avenants,
                                borderColor: "rgba(0, 136, 206, 1)",
                                backgroundColor: "rgba(60, 55, 50, 0)",
                                borderWidth: 2,
                                pointRadius: 5,
                                pointBackgroundColor: "rgba(0, 136, 206, 1)"
                            },
                            {
                                label: "Avenants délais",
                                data: liste_nb_avenants_del,
                                borderColor: "rgba(224, 82, 6, 1)",
                                backgroundColor: "rgba(60, 55, 50, 0)",
                                borderWidth: 2,
                                pointRadius: 5,
                                pointBackgroundColor: "rgba(224, 82, 6, 1)"
                            },
                            {
                                label: "Avenants budget",
                                data: liste_nb_avenants_bud,
                                borderColor: "rgba(130, 190, 0, 1)",
                                backgroundColor: "rgba(60, 55, 50, 0)",
                                borderWidth: 2,
                                pointRadius: 5,
                                pointBackgroundColor: "rgba(130, 190, 0, 1)"
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            y: {
                                beginAtZero: true,
                                ticks: {
                                    stepSize: 1  
                                }
                            }
                        }
                    }
                });
            });
        </script>


       
        

        

        <!--New row-->
        <div class="row">
            
            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Répartition CA des études en cours et terminées</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Actions:</div>
                                <a class="dropdown-item" href="#">Période</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Télécharger</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body" style="padding-bottom: 10px;">
                        <div class="mt-1 text-center font-weight-bold text-secondary"> Total : {{totale_CA_ecterm}} €</div>
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="PieChartEtudeSatus"></canvas>
                        </div>
                        <div class="mt-4 text-center small">
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <script>
            // Converting the repartition_CA_etudes dictionary to a JavaScript object
            var repartitionData = {{ repartition_CA_etudes|safe }};
            </script>
            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Nombres d'études en cours et terminées</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Actions:</div>
                                <a class="dropdown-item" href="#">Période</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Télécharger</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body" style="padding-bottom: 10px;">
                        <div class="mt-1 text-center font-weight-bold text-secondary"> {{totale_nb_ecterm}} études</div>
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="PieChartEtudeSatusnb"></canvas>
                        </div>
                        <div class="mt-4 text-center small">
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <script>
            // Converting the repartition_CA_etudes dictionary to a JavaScript object
            var repartitionData_nb = {{ repartition_nb_etudes|safe }};
            </script>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">départements des intervenants 026</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Actions:</div>
                                <a class="dropdown-item" href="#">Période</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Télécharger</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body" style="padding-bottom: 10px;">
                        <div class="mt-1 text-center font-weight-bold text-secondary">{{nb_intervenants}} intervenants</div>
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="PieChartDepartEleve"></canvas>
                        </div>
                        <div class="mt-4 text-center small">
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <script>
            // Converting the repartition_CA_etudes dictionary to a JavaScript object
            var repartdepeleve = {{ dictionaire_dep_eleve|safe }};
            </script>


            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">genre des intervenants</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Actions:</div>
                                <a class="dropdown-item" href="#">Période</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Télécharger</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body" style="padding-bottom: 10px;">
                        <div class="mt-1 text-center font-weight-bold text-secondary"> {{nb_intervenants}} intervenants</div>
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="PieChartGenreIntervenants"></canvas>
                        </div>
                        <div class="mt-4 text-center small">
                            
                        </div>
                        
                    </div>
                </div>
            </div>

            <script>
            // Converting the repartition_CA_etudes dictionary to a JavaScript object
            var genre_inter = {{ dico_genre_inter|safe }};
            </script>

                <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Répartition du C.A par type d'entreprise</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Actions:</div>
                                <a class="dropdown-item" href="#">Période</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Télécharger</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body" style="padding-bottom: 10px;">
                        <div class="mt-1 text-center font-weight-bold text-secondary"> Total : {{totale_CA_ecterm}} € </div>
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="PieChartCAtypeentreprise"></canvas>
                        </div>
                        <div class="mt-4 text-center small">
                            
                        </div>
                        
                    </div>
                </div>
            </div>

            <script>
            // Converting the repartition_CA_etudes dictionary to a JavaScript object
            var CA_typeentreprise = {{ dico_ca_typeentreprise|safe }};
            </script>

                <!-- Pie Chart -->
                <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Répartition du C.A par département</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Actions:</div>
                                <a class="dropdown-item" href="#">Période</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Télécharger</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body" style="padding-bottom: 10px;">
                        <div class="mt-1 text-center font-weight-bold text-secondary"> Total : {{totale_CA_ecterm}} € </div>
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="PieChartCAdepartement"></canvas>
                        </div>
                        <div class="mt-4 text-center small">
                            
                        </div>
                        
                    </div>
                </div>
            </div>

            <script>
            // Converting the repartition_CA_etudes dictionary to a JavaScript object
            var dico_ca_departement = {{ dico_ca_departement|safe }};
            </script>
            

                <!-- Pie Chart -->
                <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Répartition du C.A par secteur d'activité
                        </h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Actions:</div>
                                <a class="dropdown-item" href="#">Période</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Télécharger</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body" style="padding-bottom: 10px;">
                        <div class="mt-1 text-center font-weight-bold text-secondary"> Total : {{totale_CA_ecterm}} €  </div>
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="PieChartCAdSecteur"></canvas>
                        </div>
                        <div class="mt-4 text-center small">
                            
                        </div>
                        
                    </div>
                </div>
            </div>

            <script>
            // Converting the repartition_CA_etudes dictionary to a JavaScript object
            var dico_ca_secteur = {{ dico_ca_secteur|safe }};
            </script>

            

            
            

            

        </div>
        <!-- 
        <div class="row">

            <div class="col-xl-12 col-lg-7">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-center">
                        <h6 class="m-0 font-weight-bold text-primary">Graphe du C.A</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                    aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Action:</div>
                                <a class="dropdown-item" href="#" onclick="downloadChart()">Télécharger</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-body">
                        <div class="row mb-3">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="col-md-1">
                                    <label for="start_date">Date de début:</label>
                                    <input type="date" id="start_date" name="start_date" class="form-control" value="{{ start_date }}">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                            <div class="col-md-3">
                                <label for="end_date">Date de fin:</label>
                                <input type="date" id="end_date" name="end_date" class="form-control" value="{{ end_date }}">
                            </div>
                            <div class="col-md-3 d-flex align-items-end">
                                <button class="btn btn-primary" onclick="updateChart()">Mettre à jour</button>
                            </div>
                        </div>
                        <div class="chart-area">
                            <canvas id="myAreaChart1"></canvas>
                        </div>
                    </div>
                </div>
            </div>                                                
            <script>
                var chiffre_affaire_par_departement = [{% for value in chiffre_affaire_par_departement %}{{ value }},{% endfor %}];
                var chiffre_affaire_par_type = [{% for value in chiffre_affaire_par_type %}{{ value }},{% endfor %}];
                var chiffre_affaire_par_secteur = [{% for value in chiffre_affaire_par_secteur %}{{ value }},{% endfor %}];
                var repartition_CA_etudes = {{ repartition_CA_etudes|safe }};


            </script>
        </div>
        -->
        
        
            
        

    </div>
    <!-- /.container-fluid -->



    <!-- Page level plugins -->
    <script src="{% static 'polls/vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'polls/js/demo/chart-area-CA.js' %}"></script>
    
    <script src="{% static 'polls/js/demo/chart-pie-etude-status.js' %}"></script>
    <script src="{% static 'polls/js/demo/chart-pie-etude-status-nb.js' %}"></script>
    <script src="{% static 'polls/js/demo/chart-pie-depart-eleve.js' %}"></script>
    <script src="{% static 'polls/js/demo/chart-pie-genre-intervenants.js' %}"></script>
    <script src="{% static 'polls/js/demo/chart-pie-CA-dept2.js' %}"></script>
    <script src="{% static 'polls/js/demo/chart-pie-CA-type-entr.js' %}"></script>
    <script src="{% static 'polls/js/demo/devis-envoyees-reussis.js' %}"></script>
    <script src="{% static 'polls/js/demo/avenantsce-mois.js' %}"></script>
    <script src="{% static 'polls/js/demo/bar-chart-CA-mois.js' %}"></script>


    <!-- Script pour l'affichage dynamique du C-A -->
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% endblock %}